*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #bed1ff;
}

main{
    text-align: center;
    background-color: #f8eeed;
    width: 800px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.322);
    margin-top: 20px;
    padding: 10px;
}

h1{
    padding: 10px;
}

h3{
    padding: 10px;
}

button.btn{
   margin-top: 15px;
   width: 60px;
}