@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}


* {
  box-sizing: border-box;
  outline: 0;
}


body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}


main.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

section.calc {
  background-color: red;
  width: 400px;
  height: 450px;
  display: flex;
}

.operations-btn > ul{
  list-style: none;
}

.operations-btn > button{
  width: 60px;
  height: 60px;
  justify-content: end;
}

.numbers-btn > button{
  width: 60px;
  height: 60px;
  justify-content: start;
}

